.wrap {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 630px;
}

.paper__wrap {
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  background-color: #fff;
  border-radius: 7px;
}

.paper__wrap .paper {
  box-shadow: none;
  border-radius: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  display: block;
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.link {
  color: #000;
  text-decoration: none;
}
