.wrap {
  display: block;
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 3);
}

.content {
  text-align: center;
  padding: 50px;
}
